@model QuestionAndAnswer.Models.Question

@{
      var answerList = new List<QuestionAndAnswer.Models.Answer>();
      answerList = Model.Answers;
      var questionId = Model.QuestionId;
      ViewBag.Title = "问题详情";
}

<div>
    <h4>问题</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionCreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionCreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionCreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionCreateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("返回问题列表", "Index")
</p>

<div id="answerList">
    @{Html.RenderPartial("AnswerListPartial", Model.Answers);}
</div>

<div id="moreAnswer">
    @Ajax.ActionLink("更多答案",
        "MoreAnswer",
        null,
        new { id = questionId },
        new AjaxOptions
        {
            UpdateTargetId = "answerList",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET"
        },
        new { @class = "btn btn-lg btn-primary btn-block" })
</div>

<hr />
<div>
    @{Html.RenderPartial("AnswerPartial", new QuestionAndAnswer.Models.Answer(), new ViewDataDictionary {{ "questionId", questionId}});}
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.min"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}