@model QuestionAndAnswer.Models.Question

<div>
    <h4>问题</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionCreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionCreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionCreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionCreateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <h4>回答</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach(var answers in Model.Answers)
        {
            <dt>@answers.AnswerCreator</dt>
            <dd>@answers.AnswerContent</dd>
        }
        
    </dl>
    <button class="btn btn-lg btn-primary btn-block" type="submit">更多</button>
</div>

<hr />
<div>
    @{Html.RenderPartial("AnswerPartial", new QuestionAndAnswer.Models.Answer());}
</div>