@model PagedList.IPagedList<QuestionAndAnswer.Models.Question>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>问题列表</h2>

<p>
    @Html.ActionLink("提问题", "Create",null, null, new {@class = "btn btn-link"})
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.QuestionCreator)*@
            提问者
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.QuestionContent)*@
            问题内容
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.QuestionCreateTime)*@
            创建时间
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionCreator)
                </td>
                <td>
                    @Html.ActionLink(item.QuestionContent, "Details", new { id = item.QuestionId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionCreateTime)
                </td>
                
                <td>
                    @Html.ActionLink(item.Answers.Count + "个回答", "Details", new { id = item.QuestionId })
                </td>
                
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.QuestionId }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.QuestionId })
                </td>
            </tr>
        }
    </tbody>

</table>
<br />

第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))